<%= render "shared/header" %>

<div class="main">
  <div class="top-image-wrapper">
    <div class="image-wrap">
      <%= image_tag "top-image01.jpg" , :size => '1300x500'%>
    </div>
  </div>

  <section>
    <div class="contents-wrap">
      <div class="threds">
        <% @threds.each do |thred|%>
          <%= thred.content %>
          <%= link_to '編集', edit_thred_path(thred) %>
          <%= link_to '削除', thred_path(thred) %>
        <% end %>
        <%= link_to '新規投稿', new_thred_path %>
      </div>
      <div class="columns">
      <div class="columns">
        <%= link_to 'コラム一覧', columns_path %>
          <% @columns.each do |column|%>
          <%= column.title %>
          <%= column.text%>
        <% end %>
      </div>
    </div>

<div class="columns">
  <%= link_to 'コラム一覧', columns_path %>
  <% @columns.each do |column|%>
  <%= column.title %>
  <%= column.text%>
<% end %>
</div>



