<%= render "shared/header" %>

<div class="thred-main">
  <div class="top-image-wrapper">
    <div class="slider">
    </div>
  </div>

  <section>
    <div class="contents-wrap">
      <div class="threds">
        <% @threds.each do |thred|%>
          <%= thred.content %>
          <%= link_to '編集', edit_thred_path(thred) %>
          <%= link_to '削除', thred_path(thred) %>
        <% end %>
        <%= link_to '新規投稿', new_thred_path %>
      </div>
      <div class="columns">
      <div class="columns">
        <%= link_to 'コラム一覧', columns_path %>
          <% @columns.each do |column|%>
          <%= column.title %>
          <%= column.text%>
        <% end %>
      </div>
    </div>

    <table>
    <div class="schedule-wrap">
    <% if @schedule.blank? %>
      <p>スケジュールが登録されていません</p>
    <% else %>
      <p><%= @schedule.year %><span>年度</span></p>
      <p><%= @month.month %><span>月のスケジュール</span></p>
    <%end%>
    </div>
      <thead>
        <tr>
          <th>日</th>
          <th>行事</th>
        </tr>
      </thead>
      <tbody>
      <% @schedules.reverse_each do |schedule| %>
        <tr>
          <td><%= schedule.date %></td>
          <td><%= schedule.day %></td>
          <td><%= schedule.event %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<%= link_to 'スケジュール', schedules_path %>
</div>



