<%= render "shared/header" %>
  <% breadcrumb :thred  %>
  <%= breadcrumbs separator: " > ", class: "bread"%>

<div class="thred-main">
  <section id="mv">
    <div class="inner">
      <div class="mv">
        <%= image_tag "mv_6.jpg", class: "mv-img"%>
      </div>
    </div>
  </section>

  <section id="news">
    <div class="inner">
      <h1>News<span class="title-rb">掲示板</span></h1>
      <div class="news-wrap">
        <div class="threds-index">
          <% if user_signed_in? %>
            <%= link_to '新規投稿', new_thred_path , class:"new-btn"%>
          <% end %>
            <% @threds.each do |thred|%>
            <ul>
              <li>
                <%= link_to(thred_path(thred.id)) do %>
                  <span class="thred-title"><%= thred.title%></span><br>
                  <span class="thred-content"><%= thred.created_at.strftime('%m/%d')%></span>
                  <span class="thred-content"><%= thred.content %></span>
                <% end %>
                <% if user_signed_in? %>
                  <%= link_to '編集', edit_thred_path(thred) %>
                  <%= link_to '削除', thred_path(thred) %>
                <%end%>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>


<%= render "shared/footer" %>
