<h1>Threds#index</h1>
<% if user_signed_in? %>
  <strong><%= link_to current_user.name %></strong>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <p>Find me in app/views/threds/index.html.erb</p>
<% else %>
   <%= link_to 'サインアップ', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

