<h1>Threds#index</h1>
<% if user_signed_in? %>
  <strong><%= link_to current_user.name %></strong>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <p>Find me in app/views/threds/index.html.erb</p>
<% else %>
   <%= link_to 'サインアップ', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<% @threds.each do |thred|%>
  <%= thred.content %>
  <%= link_to '編集', edit_thred_path(thred) %>
  <%= link_to '削除', thred_path(thred) %>
<% end %>

<%= link_to '新規投稿', new_thred_path %>

<div class="columns">
  <%= link_to 'コラム一覧', columns_path %>
</div>

