<%= render "shared/header" %>

<section>
  <div class="inner">
    <div class="show-main">
      <h1 class="show_title"><%= @thred.title %></h1>
      <div class="show_content">
        <%= @thred.content %>
        <p class="thred-content"><%= @thred.created_at.strftime('%m/%d')%></p>
      </div>
      
      <% if user_signed_in? %>
        <div>
          <!--<%= link_to '編集', edit_thred_path(@thred) %>-->
          <%= link_to '削除', thred_path(@thred), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
<section>


<%= render "shared/footer" %>