<%= render "shared/header" %>

<div class="main">
  <h1>八風中学校サッカー部 スケジュール</h1>

  <%= form_with url: import_schedules_path, local: true do |f| %>
    <%= f.file_field :file %>
    <%= f.submit %>
  <% end %>
  
  <table>
    <div class="schedule-wrap">
    <% if @schedule.blank? %>
      <p>スケジュールが登録されていません</p>
    <% else %>
      <p><%= @schedule.year %><span>年度</span></p>
      <p><%= @month.month %><span>月のスケジュール</span></p>
    <%end%>
    </div>
      <thead>
        <tr>
          <th>日</th>
          <th>行事</th>
        </tr>
      </thead>
      <tbody>
      <% @schedules.reverse_each do |schedule| %>
        <tr>
          <td><%= schedule.date %></td>
          <td><%= schedule.day %></td>
          <td><%= schedule.event %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




<%= link_to 'トップページ', root_path %>