<h1>八風中学校サッカー部 スケジュール</h1>

<table>
      <p><%= @schedule.year %><span>年度</span></p>
      <p><%= @schedule.month %><span>月</span></p>
  <thead>
    <tr>
      <th>日</th>
      <th>行事</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.reverse_each do |schedule| %>
      <tr>
        <td><%= schedule.year %></td>
        <td><%= schedule.month %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with url: import_schedules_path, local: true do |f| %>
  <%= f.file_field :file %>
  <%= f.submit %>
<% end %>

<%= link_to 'トップページ', root_path %>