<%= render "shared/header" %>

<div class="column-main">
  <div class="top-image">
    <div class="image-wrap">
      <%= image_tag "top-image01.jpg" , :size => '1300x500'%>
      <h1 class="column-title">コラム</h1>
    </div>
  </div>
  <div class="column-contents">
    <% @columns.each do |column|%>
      <%= column.title %>
      <%= column.text%>
      <%= link_to '編集', edit_column_path(column) %>
      <%= link_to '削除', column_path(column) %>
    <% end %>
    <%= link_to 'コラム投稿', new_column_path %>
    <%= link_to 'トップページ', root_path %>
  </div>
</div>


