<%= render "shared/header" %>
  <% breadcrumb :columns %> 
  <%= breadcrumbs separator: " > " ,class: "bread"%>
<!--thred.cssを使用-->
<div class="thred-main">
  <section id="mv">
    <div class="inner">
      <div class="mv">
        <%= image_tag "mv_1.jpg", class: "mv-img"%>
      </div>
    </div>
  </section>

  <section id="columns">
    <div class="inner">
      <h1>Column<span class="title-rb">コラム</span></h1>
      <div class="column">
          <% if user_signed_in? %>
            <%= link_to '新規投稿', new_column_path %>
          <% end %>
        <% @columns.each do |column| %>
           <ul>
              <li>
                <%= link_to(column_path(column.id)) do %>
                  <span class="column-title"><%= column.title%></span><br>
                  <span class="colmun-text"><%= column.created_at.strftime('%m/%d')%></span>
                  <span class="column-text"><%= column.text %></span>
                <% end %>
              </li>
            </ul>
        <% end %>
      </div>
    </div>
  </section>
</div>


<%= render "shared/footer" %>


